# Set the default behavior, in case people don't have core.autocrlf set.

# to native line endings on checkout.
*.js text eol=lf
*.ts text eol=lf
*.sh text eol=lf
*.csv text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
